CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER=
CORS_ORIGINS=
FRONTEND_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_SECRET=
MONGODB_URI=
SEED_ADMIN_EMAIL=
SEED_ADMIN_NAME=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_EMAIL_2=
SEED_ADMIN_NAME_2=
SEED_ADMIN_PASSWORD_2=
VITE_API_BASE=
VITE_API_URL=